md-toolbar {
  padding: 0 20px;
  md-input-container {
    margin-left: 20px;
    margin-top: 25px;
  }
  input {
    color: white !important;
  }
}

.back-button {
  padding: 25px;
  margin-right: 20px;
  cursor:pointer;
}
